<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <h1>
    <title>Welcome to first-app!</title>
  </h1>
</head>

<body id="img">
  
    <div class="clearfix">
      <nav>
        <h1 class="text-muted header">
          <font color="White">HR WorkWays</font>
        </h1>
        <ul> &nbsp; &nbsp; </ul>
        <ul>
          <ul class="nav-item">
                      <!--<a id="click" class="nav-link active" routerLink="/employeelist">Employee</a>-->
            <button type="button" class="btn btn-primary" id="click" routerLink="/employeelist">Employee</button>
          </ul>
          <ul> &nbsp; &nbsp; </ul>
          <ul class="nav-item">
            <button type="button" id="click" class="btn btn-primary" routerLink="/departmentlist">Department</button>
            <!--<a id="click" class="nav-link active" routerLink="/departmentlist">Department</a>-->
          </ul>
          <ul> &nbsp; &nbsp; </ul>
          <ul class="nav-item">
                       <!--<a id="click" class="nav-link active" routerLink="/visitorlist">Visitor</a>-->
            <button type="button" id="click" class="btn btn-primary" routerLink="/visitorlist">Visitor</button>
          </ul>
        </ul>
      </nav>

    </div>
 
  <!--<p align="center" class="msg_success">{{ msg }}</p>-->

</body>

<!--<router-outlet></router-outlet>-->
</html>
