<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <h1>
    <title>Welcome to first-app!</title>
  </h1>
</head>

<body id="img">
  
    <div class="clearfix">
      <nav>
        <h1 class="text-muted header">
          <font color="White">HR WorkWays</font>
        </h1>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
           
            <a id="click" class="nav-link active" routerLink="/employeelist">Employee</a>
          </li>
          <li> &nbsp; &nbsp; </li>
          <li class="nav-item">
           
            <a id="click" class="nav-link active" routerLink="/departmentlist">Department</a>
          </li>
        </ul>
      </nav>

    </div>
 
  <!--<p align="center" class="msg_success">{{ msg }}</p>-->

</body>

<!--<router-outlet></router-outlet>-->
</html>
