<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <h1>
    <title>Welcome to first-app!</title>
  </h1>
  <style>
    table,
    td,
    th {
      border: 1px solid #ddd;
      text-align: left;
    }

    table {
      border-collapse: collapse;
      width: 70%;
    }

    th,
    td {
      padding: 15px;
    }
  </style>
</head>

<body id="img1">
  <h3 align="center">
    Department Details</h3>
  <div class="listContainer">

    <div class="nav-item">

      <a type="button" class="btn btn-primary" id="click" routerLink="/departmentadd">Department Add</a>
    </div>
    <div class="buttons">
      <a type="button" class="btn btn-primary" routerLink="/postlogin" data-dismiss="modal">Back</a>
    </div>

    <div class="one">
      <a type="button" class="btn btn-primary" (click)="logout()" routerLink="/" data-dismiss="modal">Log Out</a>
    </div>

    <ul></ul>
    <table align="center">
      <tr>
        <th *ngFor="let col of columns">{{col.header}}</th>
      </tr>
      <tr *ngFor="let department of departmentList">

        <td> {{department.deptId}}
        </td>
        <td> {{department.deptName}}
        </td>
        <td> {{department.deptManager}}
        </td>


        <td><button class="btn btn-primary" (click)="updateDepartment(department)">edit</button></td>
        <td><button class="btn btn-primary" (click)=" deleteDepartment(department.deptId)">delete</button></td>
      </tr>
    </table>

  </div>

</body>